<ul>
  <li *ngFor="let blog of blogs">
    <div class="jumbotron">
      <h2>{{blog.title}}</h2>
      <p>{{blog.description}}</p>
      <i>Author {{blog.username}}</i>
      <i>{{blog.timestamp}}</i>
      <p>{{blog.popularity}}</p>
      <button (click)="upvote(blog)">upvote</button>
      <button (click)="downvote(blog)">downvote</button>
      <button (click)="viewPost(blog)">view all posts by user</button>
      <button (click)="viewThisPost(blog)">view this post</button>
    </div>
  </li>
</ul>
