<ul>
  <li *ngFor="let blog of blogs; let i = index" >
    <div class="jumbotron">
      <h2>{{blog.title}}</h2>
      <p>{{blog.description}}</p>
      <i>Author {{blog.username}}</i>
      <i>{{blog.timestamp}}</i>
      <p>{{blog.popularity}}</p>
      <button (click)="upvote(blog)">upvote</button>
      <button (click)="downvote(blog)">downvote</button>
      <button (click)="viewPost(blog)">view all posts by user</button>
      <button (click)="viewThisPost(blog)">view this post</button>
      <button (click)="deleteThisPost(blog)">delete this post</button>
      <button (click)="showPost(i)">edit this post</button>
      <div *ngIf="hidden[i]">
        <textarea class="form-control" rows="3" [(ngModel)]="descr[i]" name ="descr[i]">  </textarea>
        <button (click)="submitEdit(i, blog)">Submit edit</button>
      </div>
    </div>
  </li>
</ul>
