
<div *ngIf="user">
  <h2 class="page-header">{{user.name}}</h2>


  <div class="info">
    <i class="fa fa-address-card" aria-hidden="true"></i><b class="head"> Username: </b>{{user.username}}<br>
    <i class="fa fa-building" aria-hidden="true"></i><b class="head"> Company: </b>{{user.company}}<br>
    <i class="fa fa-briefcase" aria-hidden="true"></i><b class="head"> Role: </b>{{user.role}}<br>
    <i class="fa fa-location-arrow" aria-hidden="true"></i><b class="head"> Location: </b>{{user.location}}<br>
    <i class="fa fa-user" aria-hidden="true"></i> <b class="head">Age: </b>{{user.age}}<br>
    <i class="fa fa-smile-o" aria-hidden="true"></i><b class="head"> About Me: </b>{{user.aboutMe}}
</div>
</div>
<br>
<button type="edit-profile" class="btn btn-primary">
<a class ="edit-profile" [routerLink]="['/edit-profile']">Edit Profile</a> 
</button>
