<div class="jumbotron text-center">
  <h1>Welcome to the Sluggit Landing Page</h1>
  <p class="lead">A computer science blog and resource.</p>

  <div *ngIf="!nativeAuthService.loggedIn()">
    <a class="btn btn-info btn-lg" [routerLink]="['/register']">Sign up now!</a>
    <a class="btn btn-primary btn-lg" [routerLink]="['/login']">Login</a>
  </div>

  <div *ngIf="nativeAuthService.loggedIn()">
    <a class="btn btn-info btn-lg" [routerLink]="['/feed']">Checkout the Public Feed!</a>
    <a class="btn btn-primary btn-lg" [routerLink]="['/popular']">See whats popular on Sluggit!</a>
    <a class="btn btn-info btn-lg" [routerLink]="['/add-post']">Create a Post!</a>
  </div>
</div>


<div class="row propaganda">
  <div class="col-md-4">
    <h3 class="text-center"><i class="fa fa-file-code-o fa-3x" aria-hidden="true"></i></h3>
    <h3 class = "text-center">Share projects!</h3><br><br><br>
  </div>
  <div class="col-md-4">
    <h3 class="text-center"><i class="fa fa-camera-retro fa-3x"></i></h3>
    <h3 class = "text-center">Promote yourself!</h3><br><br><br>
  </div>
  <div class="col-md-4">
    <h3 class="text-center"><i class="fa fa-play-circle fa-3x" aria-hidden="true"></i></h3>
    <h3 class = "text-center">Share various forms of media!</h3><br><br><br>
  </div>
</div>
