
<h4>
  Public feed: most recent posts
  <i> here is what a sample post may look like:</i>
</h4>

<div class="jumbotron">
  <h2><i>sample title</i></h2>
  <p><i> sample body Sed finibus imperdiet rhoncus. Morbi et tellus augue. Fusce finibus consequat tincidunt.
    Cras tempus dui vel ligula porta fermentum. Duis eu porttitor ligula. Suspendisse auctor lectus eget luctus
    dictum. Etiam ullamcorper nisi in enim gravida mollis. Quisque elementum lectus risus, ac venenatis sapien dictum
    eu. Maecenas porttitor sodales suscipit. Nullam imperdiet finibus massa, ut finibus libero lacinia a.</i></p>
  <i>submited by: sample username</i>
  <i>At: sample timestamp</i>
</div>

<div class="jumbotron">
  <h2><i>sample title</i></h2>
  <p><i> sample body Sed finibus imperdiet rhoncus. Morbi et tellus augue. Fusce finibus consequat tincidunt.
    Cras tempus dui vel ligula porta fermentum. Duis eu porttitor ligula. Suspendisse auctor lectus eget luctus
    dictum. Etiam ullamcorper nisi in enim gravida mollis. Quisque elementum lectus risus, ac venenatis sapien dictum
    eu. Maecenas porttitor sodales suscipit. Nullam imperdiet finibus massa, ut finibus libero lacinia a.</i></p>
  <i>submited by: sample username</i>
  <i>At: sample timestamp</i>
</div>

<div class="jumbotron">
  <h2><i>sample title</i></h2>
  <p><i> sample body Sed finibus imperdiet rhoncus. Morbi et tellus augue. Fusce finibus consequat tincidunt.
    Cras tempus dui vel ligula porta fermentum. Duis eu porttitor ligula. Suspendisse auctor lectus eget luctus
    dictum. Etiam ullamcorper nisi in enim gravida mollis. Quisque elementum lectus risus, ac venenatis sapien dictum
    eu. Maecenas porttitor sodales suscipit. Nullam imperdiet finibus massa, ut finibus libero lacinia a.</i></p>
  <i>submited by: sample username</i>
  <i>At: sample timestamp</i>
</div>

<div class="jumbotron">
  <h2><i>sample title</i></h2>
  <p><i> sample body Sed finibus imperdiet rhoncus. Morbi et tellus augue. Fusce finibus consequat tincidunt.
    Cras tempus dui vel ligula porta fermentum. Duis eu porttitor ligula. Suspendisse auctor lectus eget luctus
    dictum. Etiam ullamcorper nisi in enim gravida mollis. Quisque elementum lectus risus, ac venenatis sapien dictum
    eu. Maecenas porttitor sodales suscipit. Nullam imperdiet finibus massa, ut finibus libero lacinia a.</i></p>
  <i>submited by: sample username</i>
  <i>At: sample timestamp</i>
</div>

<div class="jumbotron">
  <h2><i>sample title</i></h2>
  <p><i> sample body Sed finibus imperdiet rhoncus. Morbi et tellus augue. Fusce finibus consequat tincidunt.
    Cras tempus dui vel ligula porta fermentum. Duis eu porttitor ligula. Suspendisse auctor lectus eget luctus
    dictum. Etiam ullamcorper nisi in enim gravida mollis. Quisque elementum lectus risus, ac venenatis sapien dictum
    eu. Maecenas porttitor sodales suscipit. Nullam imperdiet finibus massa, ut finibus libero lacinia a.</i></p>
  <i>submited by: sample username</i>
  <i>At: sample timestamp</i>
</div>

<div class="jumbotron">
  <h2><i>sample title</i></h2>
  <p><i> sample body Sed finibus imperdiet rhoncus. Morbi et tellus augue. Fusce finibus consequat tincidunt.
    Cras tempus dui vel ligula porta fermentum. Duis eu porttitor ligula. Suspendisse auctor lectus eget luctus
    dictum. Etiam ullamcorper nisi in enim gravida mollis. Quisque elementum lectus risus, ac venenatis sapien dictum
    eu. Maecenas porttitor sodales suscipit. Nullam imperdiet finibus massa, ut finibus libero lacinia a.</i></p>
  <i>submited by: sample username</i>
  <i>At: sample timestamp</i>
</div>

<div class="jumbotron">
  <h2><i>sample title</i></h2>
  <p><i> sample body Sed finibus imperdiet rhoncus. Morbi et tellus augue. Fusce finibus consequat tincidunt.
    Cras tempus dui vel ligula porta fermentum. Duis eu porttitor ligula. Suspendisse auctor lectus eget luctus
    dictum. Etiam ullamcorper nisi in enim gravida mollis. Quisque elementum lectus risus, ac venenatis sapien dictum
    eu. Maecenas porttitor sodales suscipit. Nullam imperdiet finibus massa, ut finibus libero lacinia a.</i></p>
  <i>submited by: sample username</i>
  <i>At: sample timestamp</i>
</div>

<div class="jumbotron">
  <h2><i>sample title</i></h2>
  <p><i> sample body Sed finibus imperdiet rhoncus. Morbi et tellus augue. Fusce finibus consequat tincidunt.
    Cras tempus dui vel ligula porta fermentum. Duis eu porttitor ligula. Suspendisse auctor lectus eget luctus
    dictum. Etiam ullamcorper nisi in enim gravida mollis. Quisque elementum lectus risus, ac venenatis sapien dictum
    eu. Maecenas porttitor sodales suscipit. Nullam imperdiet finibus massa, ut finibus libero lacinia a.</i></p>
  <i>submited by: sample username</i>
  <i>At: sample timestamp</i>
</div>

<div class="jumbotron">
  <h2><i>sample title</i></h2>
  <p><i> sample body Sed finibus imperdiet rhoncus. Morbi et tellus augue. Fusce finibus consequat tincidunt.
    Cras tempus dui vel ligula porta fermentum. Duis eu porttitor ligula. Suspendisse auctor lectus eget luctus
    dictum. Etiam ullamcorper nisi in enim gravida mollis. Quisque elementum lectus risus, ac venenatis sapien dictum
    eu. Maecenas porttitor sodales suscipit. Nullam imperdiet finibus massa, ut finibus libero lacinia a.</i></p>
  <i>submited by: sample username</i>
  <i>At: sample timestamp</i>
</div>

<div class="jumbotron">
  <h2><i>sample title</i></h2>
  <p><i> sample body Sed finibus imperdiet rhoncus. Morbi et tellus augue. Fusce finibus consequat tincidunt.
    Cras tempus dui vel ligula porta fermentum. Duis eu porttitor ligula. Suspendisse auctor lectus eget luctus
    dictum. Etiam ullamcorper nisi in enim gravida mollis. Quisque elementum lectus risus, ac venenatis sapien dictum
    eu. Maecenas porttitor sodales suscipit. Nullam imperdiet finibus massa, ut finibus libero lacinia a.</i></p>
  <i>submited by: sample username</i>
  <i>At: sample timestamp</i>
</div>
